@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

body {
/*    position: absolute;*/
    height: 100vh;
    margin: 0px;
    padding: 0;
    background-image: url('Resources/ARWebsiteBG.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
}

logo {
    position: relative;
    width: 100%;
    height: 100%;
    left: 1%;
    top: 10%;
    background-repeat: no-repeat;
    background-image: url('Resources/Augmented Robotics Logo Vertical White.svg');
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 200%;
    margin-left: -25%;
    font-family: 'Saira', Arial;
}
header ul li a:hover {
    text-decoration: underline;
    color: #CCCCCC;
}

.title-page {
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
}

img {
    width: 100%;
}

.slogan {
    position: relative;
    top: 35%;
    left: 3%;
    font-family: 'Saira', Arial;
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
    text-shadow: -4px 0px #e1257a;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}

.dotline {
    position: relative;
    left: -10%;
}

.outer {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 100px;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}

.phone-video {
    position: absolute;
    right: -6.6%;
}

.frame-overlay {
    position: absolute;
    top: -18.4%;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

video {
    right: -10.8%;
    position: relative;
    max-width: 76.3%;
    width: auto;
    height: auto;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    color: #0A006E;
    font-size: 20px;
    font-family: 'Saira', Arial;
}

h1 {
    text-shadow: -4px 0px #e1257a;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding: 5%
}

.button-1 {
    background-color: #0A006E;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Saira', Arial;
    font-size: 27px;
    font-weight: 500;
    height: 7%;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 200ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-1:hover,
    .button-1:focus {
        background-color: #030021;
    }


.row {
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.image{
    height: 80%;
}

.footer {
    position: relative;
    z-index: 0;
    color: #0A006E;
    font-size: 20px;
    font-family: 'Saira', Arial;
    text-align: center;
    padding: 5%;
}

.footer-image {
    display: inline-block;
    text-align: center;
    max-width: 15%;
}

.button-2 {
    background-color: #E1257A;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Saira', Arial;
    font-size: 27px;
    font-weight: 500;
    height: 7%;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 200ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-2:hover,
    .button-2:focus {
        background-color: #FF8827;
    }
/*.row::after {
    content: "";
    clear: both;
    display: table;
}*/